body {
  font-size: 12px;
  background-color: #ecf0f1;
}

.btn {
  font-size: 12px;
}

.list-item {
  border: 1px solid #34495e;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
}

.form-container {
  border: 1px solid #34495e;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
}
